body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#allPotsRender {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.allSinglePotsRender {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  width: 350px;
  text-align: center;
}

#pageNumbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
}

.pages {
  background-color: silver;
  border-style: groove;
  width: 1em;
  text-align: center;
  border-radius: 20%;
}

.pages:active {
  background-color: green;
}

#currentPage {
  text-align: center;
}

#loginSignup {
  position: absolute;
  top: 0px;
  right: 0px;
}

#logout {
  position: absolute;
  top: 0px;
  right: 0px;
}

.user-display {
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 250px;
  text-align: center;
  line-height: 20px;
  background-color: lightgrey;
  border-radius: 0.25em;
}

.user-display-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
